.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #14213D;
  /*background: linear-gradient(90deg, #000000, #3533cd);
  background-size: 200% 200%;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;*/
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #FFF;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 100px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 60px;
}

.navbar-item {
  display: inline;
}

.navbar-link {
  color: #FFF;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}

.logo-container {
  margin-left: 20px;
}

ul{
  list-style-type: none;
}

/*@-webkit-keyframes Animation 
{
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation 
{
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation 
{ 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}*/

.business-logo {
  width: 500px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-top: 80px;
  margin-left: 70px;
}

.yellow-text {
  color: orange;
}

.slogan{
  color: #fff;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 70px;
}

.search-bar input[type="search"] {
  width: 700px; /* Adjust the width as needed */
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.search-bar button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #14213D;
  color: #FFF;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

/* .textbox-container {
  place-items: left;
}

.page-heading-container{
  display: flex;
  gap: 100px;
  color: #FFF;
}

.register-page-heading {
  display: flex;
  text-align: left;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 38.75px;
}

.linkback {
  display: inline;
  font-family: 'Josefin Sans';
  font-size: 24.01px;
  font-style: italic;
}

.linkback a {
  color: #FCA311;
  
}

.rounded-textbox {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.container {
  margin-left: 100px;
}

.textbox-heading{
  text-align: left;
  font-family: 'Josefin Sans';
  font-size: 26.9px;
  margin-left: auto;
} */

 /* Style inputs, select elements and textareas */
 input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #FFF;
  font-family: 'Josefin Sans';
  font-size: 26.9px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #FCA311;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  justify-content: center;
  font-family: 'Josefin Sans';
  font-size: 27px;
  margin-top: 50px;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #14213D;
  padding: 30px;
  margin-left: 200px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 

.page-heading {
  display: inline;
  text-align: left;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 38.75px;
  color: #FFF;
}

.section-heading {
  display: flex;
  text-align: left;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 26.9px;
  color: #FFF;
  margin-top: 70px;
}

.error input{
  border: 3px solid red;
}

.error-message {
  color: red;
}

.findCurrentLocation {
  text-align: left;
  font-family: 'Josefin Sans';
  font-size: 24.01px;
  color: orange;
}

.filetext {
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 15px;
  color: white;
}

.linkback {
  display: inline;
  font-family: 'Josefin Sans';
  font-size: 24.01px;
  font-style: italic;
  color: #FFF;

}

.link_to_user {
  display: inline;
  font-family: 'Josefin Sans';
  font-size: 24.01px;
  font-style: italic;
  color: orange;
}




